# Ignore everything under the storage/app-dev directory
storage/app-dev

# Ignore .umi and .umi-production directories wherever they are
**/.umi
**/.umi-production

# Ignore node_modules everywhere
node_modules
**/node_modules

# Ignore certain directories under packages
packages/*/*/lib
packages/*/*/esm
packages/*/*/es
packages/*/*/dist

/.vscode
/.idea
.git

*.sqlite
/uploads
yarn-error.log
*.log
